<% content_for :navigation do %>
  <%= govuk_back_link(href: imports_path) %>
<% end %>

<% title = "Upload vaccination records" %>

<% content_for :page_title, title %>

<% if (cutoff_date = current_team.national_reporting_cut_off_date) &&
      Date.today <= cutoff_date + Team::NIVS_SWITCH_OFF_DELAY_DAYS.days %>
  <%= govuk_notification_banner(title_text: "Important") do %>
    <h3 class="nhsuk-notification-banner__heading">
      Mavis national reporting replaces NIVS on <%= cutoff_date.to_fs(:long) %>
    </h3>

    <h4 class="nhsuk-u-margin-bottom-2">Vaccinations given before <%= cutoff_date.to_fs(:long) %></h4>
    <p>
      Upload to NIVS by <%= (cutoff_date + Team::NIVS_SWITCH_OFF_DELAY_DAYS.days).to_fs(:long) %>.
      After this, NIVS will no longer be available.
    </p>

    <h4 class="nhsuk-u-margin-bottom-2">Vaccinations given on or after <%= cutoff_date.to_fs(:long) %></h4>
    <p>Upload to Mavis national reporting only.</p>
  <% end %>
<% end %>

<%= form_with model: @immunisation_import, url: immunisation_imports_path do |f| %>
  <%= f.mavis_error_summary %>

  <h1 class="nhsuk-heading-l"><%= title %></h1>

  <% if current_team.has_national_reporting_access? %>
    <p>You can upload vaccination records for flu or HPV. Mavis will detect which vaccination programme the records are for.</p>
  <% else %>
    <p>You can import vaccination records by uploading:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>a Mavis CSV file</li>
      <li>a SystmOne file</li>
    </ul>
  <% end %>

  <%= render AppImportFormatDetailsComponent.new(import: @immunisation_import) %>

  <%= f.govuk_file_field :csv,
                         label: { text: "Upload file", size: "m" },
                         javascript: true %>

  <%= f.govuk_submit %>
<% end %>
