<% if gillick_assessment || can_assess? %>
  <%= render AppCardComponent.new(section: true) do |card| %>
    <% card.with_heading(level: 2) { "Gillick assessment" } %>

    <% if gillick_assessment %>
      <% if gillick_assessment.gillick_competent? %>
        <%= render AppStatusComponent.new(text: "Child assessed as Gillick competent", colour: "green", icon: :tick) %>
      <% else %>
        <%= render AppStatusComponent.new(text: "Child assessed as not Gillick competent", colour: "red", icon: :cross) %>
      <% end %>

      <% if (notes = gillick_assessment.notes).present? %>
        <p><%= notes %></p>
      <% end %>

      <% if policy(gillick_assessment).edit? %>
        <%= render AppActionLinkComponent.new(text: "Update Gillick competence",
                                              href: edit_session_patient_programme_gillick_assessment_path(
                                                session,
                                                patient,
                                                programme,
                                              )) %>
      <% end %>
    <% elsif can_assess? %>
      <%= render AppActionLinkComponent.new(text: "Assess Gillick competence",
                                            href: edit_session_patient_programme_gillick_assessment_path(
                                              session,
                                              patient,
                                              programme,
                                            )) %>
    <% end %>
  <% end %>
<% end %>
