<% content_for :page_title, "#{t("sessions.tabs.record")} – #{session_title(@session)}" %>

<% if @session.today? %>
  <div class="nhsuk-grid-row">
    <div class="app-grid-column-filters">
      <%= render AppPatientSearchFormComponent.new(
            @form,
            url: session_record_path(@session),
            current_team:,
            programmes: @session.programmes,
            year_groups: @session.year_groups,
            show_vaccine_criteria: true,
          ) %>
    </div>

    <div class="app-grid-column-results">
      <%= render AppSessionNeedsReviewComponent.new(@session, include_missing_nhs_numbers: false) %>

      <%= render AppVaccinationsSummaryTableComponent.new(current_user:, session: @session, request_session: session) %>

      <%= render AppSearchResultsComponent.new(@pagy, label: "children") do %>
        <% @patients.each do |patient| %>
          <%= render AppPatientSessionSearchResultCardComponent.new(
                patient:,
                session: @session,
                programmes: @form.programmes,
                return_to: :record,
                show_notes: true,
                show_vaccine_type: true,
                heading_level: 3,
              ) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Record vaccinations</h3>

  <p>You can record vaccinations when a session is in progress.</p>
<% end %>
