<% content_for :navigation do %>
  <%= render AppBreadcrumbComponent.new(items: @breadcrumb_items) %>
<% end %>

<%= h1 page_title: "#{@patient.initials} – #{@vaccination_record.programme.name}" do %>
  <%= @patient.full_name %>
<% end %>

<%= render AppPatientCardComponent.new(@patient, current_team:, show_parents: !current_team.has_national_reporting_access?) %>

<%= render AppCardComponent.new do |c| %>
  <% c.with_heading { "Vaccination details" } %>
  <%= render AppVaccinationRecordSummaryComponent.new(@vaccination_record, current_user:) %>

  <div class="nhsuk-button-group">
    <% if policy(@vaccination_record).edit? %>
      <%= govuk_button_to "Edit vaccination record",
                          vaccination_record_path(@vaccination_record),
                          method: :put, secondary: true %>
    <% end %>

    <% if policy(@vaccination_record).destroy? %>
      <%= link_to "Archive vaccination record", destroy_vaccination_record_path(@vaccination_record) %>
    <% end %>
  </div>
<% end %>
