<% content_for :main_content do %>
  <main id="main-content">
    <%= render "sessions/header" %>

    <div class="nhsuk-width-container">
      <div class="nhsuk-main-wrapper nhsuk-main-wrapper--s">
        <%= yield :navigation %>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <%= yield :before_content %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </main>
<% end %>

<%= render template: "layouts/application" %>
